<mat-card class="card-class">
    <mat-card-header>
      <mat-card-title>
<h1> model definition </h1></mat-card-title></mat-card-header>
<mat-card-content>
<mat-form-field>
<mat-label>Select your model type</mat-label>
<mat-select (selectionChange)="changeComponent()" [(ngModel)]="typeModel">
	<mat-option *ngFor="let model of typeModelKeys" [value]="model">{{model}}</mat-option>
</mat-select>
</mat-form-field>
<div>
  <ng-template inject-component></ng-template>
</div>
</mat-card-content>
</mat-card>