<h2>
inference image
</h2>
<input type="file" name="fileList" (change)="presenter.getImageFiles$().next($event.target.files);log($event.target.files)" multiple />
<label>Number Of Channels <input type="number" name="nbChannels" min="1" max="4" [ngModel]="nbChannels" (change)="presenter.getNbChannels$().next($event.target.value)" > </label>
<div *ngFor="let imageData of imageDatas; let i = index">
  <canvas image-drawable [imageData]="imageData"></canvas> 
  <p style="font-size:small" *ngIf="inferenceOutput?.length > 0">
  {{ inferenceOutput[i] }}
  </p>
</div>

